/*reset*/
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.black-bg {
    background-color: black;
    padding-bottom: 50px;
}
body {
    font-family: Montserrat, sans-serif;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
}
.nav-bar .nav-left p {
    font-size: 18px;
}
.nav-bar .nav-left p:hover {
    text-decoration: underline;
}
.test {
    position: relative;
    width: 1140px;
}
.container .iDesign {
    background-color: rgba(37, 37, 49, 255);
    color: rgba(255, 255, 255, 255);
    justify-content: space-between;
    display: flex;
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 25px 0;
}
.container .iDesign .shar {
    color: rgba(223, 177, 99, 255);
    padding-left: 50px;
}
.container .iDesign .Home {
    color: rgba(223, 177, 99, 255);
    padding-right: 27px;
}
.iDesign .iDesign-right {
    font-size: 25px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    text-decoration: none;
}
.container .iDesign .About {
    padding-right: 27px;
}
.container .iDesign .About:hover {
    color: rgba(223, 177, 99, 255);
}
.container .iDesign .Service {
    padding-right: 27px;
}
.container .iDesign .Service:hover {
    color: rgba(223, 177, 99, 255);
}
.container .iDesign .Project {
    padding-right: 27px;
}
.container .iDesign .Project:hover {
    color: rgba(223, 177, 99, 255);
}

.container .iDesign .Pages {
    padding-right: 27px;
}
.container .iDesign .Pages:hover {
    color: rgba(223, 177, 99, 255);
}
.container .iDesign .Contact {
    padding-right: 27px;
}
.container .iDesign .Contact:hover {
    color: rgba(223, 177, 99, 255);
}
.icons .facebook {
    padding-right: 20px;
}
.icons .twitter {
    padding-right: 20px;
}
.icons .linked {
    padding-right: 20px;
}
.icons .insta {
    padding-right: 20px;
}

.menu-section {
}
.menu {
    height: 65px;
    background-color: #fff;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.menu-section .menu .menu-item p {
    color: gray;
    font-size: 20px;
}
.mySlides {
    display: none;
    position: relative;
}
img {
    vertical-align: middle;
    width: 100%;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: orange;
}
.prev {
    left: 5%;
}
.next {
    right: 5%;
    border-radius: 3px 0 0 3px;
}
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text .text-primary {
        font-size: 11px;
    }
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.slide-text {
    position: absolute;
    top: 350px;
    right: 600px;
}
.text-primary {
    color: orange;
    font-size: 25px;
}
.text {
    font-size: 30px;
    top: 50px;
}
.primary-button {
    margin-top: 40px;
    background-color: orange;
    padding: 20px 60px 20px 60px;
    border: 1px solid orange;
    cursor: pointer;
}
.primary-button:hover {
    background-color: rgb(173, 123, 29);
    border: 1px solid rgb(173, 123, 29);
}
.aaw-container {
    width: 100%;
    height: 500px;
    background-color: rgb(51, 39, 118);
    margin-top: -20px;
    margin-left: 80px;
}
.row {
    background-color: orange;
}
